/* Global styles */
body {
    background-color: #F3EFE6;
    color: #5C3B21;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-image: url('coffee-header1.jpg');
    background-size: cover;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 60vh; /* You can adjust this value based on your preferences */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  header h1, header h2 {
    width: 100%;
  }

  .header-content {
    max-width: 100%; /* Adjust this value based on your preferences */
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  .header-content p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C503D;
    padding: 10px;
  }
  
  nav a {
    color: #F3EFE6;
    text-decoration: none;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #F3EFE6;
    color: #6C503D;
  }
  
  /* Main content styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin: 0 0 10px 0;
  }
  
  h2 {
    font-size: 24px;
    margin: 20px 0 10px 0;
  }
  
  p {
    margin: 0 0 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
.bubble {
    fill-opacity: 0.7;
    stroke: #000;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    pointer-events: none;
}