/* Global styles */
@font-face {
  font-family: 'SoDo Sans Light Italic';
  src: url('./sodo-sans-7.otf') format('opentype');
}

@font-face {
  font-family: 'SoDo Sans Regular';
  src: url('./sodo-sans-8.otf') format('opentype');
}

@font-face {
  font-family: 'SoDo Sans Bold';
  src: url('./sodo-sans-3.otf') format('opentype');
}

body {
    background-color: #F3EFE6;
    color: #5C3B21;
    font-family: 'SoDo Sans Regular', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-image: url('./images/coffee-header1.jpg');
    background-size: cover;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 30vh; /* You can adjust this value based on your preferences */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  header h1{
    font-family: 'SoDo Sans Bold', sans-serif;
    font-size: 32px;
    width: 100%;
  }

  header h2 {
    font-family: 'SoDo Sans Bold', sans-serif;
    font-size: 48px;
    width: 100%;
  }
  
  body h2 {
    font-family: 'SoDo Sans Bold', sans-serif;
    font-size: 24px;
  }

  body figcaption {
    font-family: 'SoDo Sans Light Italic', sans-serif;
    font-size: 12px;
  }

  .header-content {
    max-width: 100%; /* Adjust this value based on your preferences */
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  .header-content p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C503D;
    padding: 10px;
  }
  
  nav a {
    color: #F3EFE6;
    text-decoration: none;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #F3EFE6;
    color: #6C503D;
  }
  
  /* Main content styles */
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin: 0 0 10px 0;
  }
  
  h2 {
    font-size: 24px;
    margin: 20px 0 10px 0;
  }
  
  p {
    margin: 0 0 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
.bubble {
    fill-opacity: 0.7;
    stroke: #000;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    pointer-events: none;
}

.d-md-flex {
  display: flex;
  justify-content: center;
}

.flex-md-equal {
  flex: 1;
}

/* .w-100 {
  width: 100%;
} */

.my-md-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ps-md-3 {
  padding-left: 30rem;
  padding-right: 30rem;
}

.bg-light {
  background-color: #f8f9fa;
}

.me-md-3 {
  margin-right: 1rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pt-md-5 {
  padding-top: 3rem;
}

.px-md-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p > i {
  font-style: italic;
}

@media (min-width: 768px) {
  .flex-md-equal {
    flex: none;
  }
}

figcaption {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

/* Style the dropdown button */
.dropbtn {
  display: inline-block;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 500px; /* Adjust table width here*/
}

/* Style the dropdown rows */
.dropdown-row {
  display: table; /* Change display to table */
  width: 100%;
  table-layout: fixed; /* Add this to make the columns distribute space evenly */
}


/* Show the dropdown menu when the user clicks on the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
  flex-wrap: nowrap;
  text-align: left;
  border-radius: 2%;
}

/* Style the data table links */
.data-table-link {
  padding: 12px 16px;
  background-color: #6C503D;
  color: #F3EFE6;
  text-decoration: none;
  border-radius: 2%;
  margin-left: 8px;
  cursor: pointer;
  text-align: left; /* Add this to align the text to the left */
}

/* Change color of data table links on hover */
.data-table-link:hover {
  background-color: #f1f1f1;
  border-radius: 2%;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  display: table-cell; /* Change display to table-cell */
  padding: 12px 8px; /* Adjust padding as needed */
  text-decoration: none;
  cursor: pointer;
}

/* Style the data source links */
.data-source-link {
  background-color: #6C503D;
  color: #F3EFE6;
  border-radius: 2% 0 0 2%; /* Add this to style only the left side border-radius */
}

/* Style the data table links */
.data-table-link {
  background-color: #6C503D;
  color: #F3EFE6;
  border-radius: 0 2% 2% 0; /* Add this to style only the right side border-radius */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 2%;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.number-text {
  margin: 0 40px; /* Adjust the margin value to increase or decrease the gap */
}

.value {
  display: block;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#map_line {
  display: block;
  width: 130%;
  height: 600px;
  margin-left: -15%;
  position: relative;
}

.figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.figure-item {
  flex: 1;
  margin: 0 10px;
}
