/* Global styles */
body {
    background-color: #F3EFE6;
    color: #5C3B21;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-image: url('./images/coffee-header1.jpg');
    background-size: cover;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 60vh; /* You can adjust this value based on your preferences */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  header h1, header h2 {
    width: 100%;
  }

  .header-content {
    max-width: 100%; /* Adjust this value based on your preferences */
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
  
  .header-content p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C503D;
    padding: 10px;
  }
  
  nav a {
    color: #F3EFE6;
    text-decoration: none;
    padding: 5px;
  }
  
  nav a:hover {
    background-color: #F3EFE6;
    color: #6C503D;
  }
  
  /* Main content styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin: 0 0 10px 0;
  }
  
  h2 {
    font-size: 24px;
    margin: 20px 0 10px 0;
  }
  
  p {
    margin: 0 0 20px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
.bubble {
    fill-opacity: 0.7;
    stroke: #000;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    pointer-events: none;
}

.d-md-flex {
  display: flex;
}

.flex-md-equal {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.my-md-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ps-md-3 {
  padding-left: 1rem;
}

.bg-light {
  background-color: #f8f9fa;
}

.me-md-3 {
  margin-right: 1rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pt-md-5 {
  padding-top: 3rem;
}

.px-md-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p > i {
  font-style: italic;
}

@media (min-width: 768px) {
  .flex-md-equal {
    flex: none;
  }
}

figcaption {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

/* Style the dropdown button */
.dropbtn {
  display: inline-block;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Show the dropdown menu when the user clicks on the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border: 1px solid #5C3B21;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.number-text {
  margin: 0 40px; /* Adjust the margin value to increase or decrease the gap */
}

.value {
  display: block;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}